input {
    font-family: "Geist Mono", monospace;
    font-size: 1.75rem;
    padding: 1rem 2rem;
    padding-right: 4rem;
    letter-spacing: 0.2ch;
    border-radius: 6px;
    color: var(--color-alpha);
    border-color: var(--color-alpha);
    border-style: solid;
    background: var(--input-bg);
    outline: none;
    transition: border-color 0.2s, color 0.2s;
  }
  
  label {
    position: absolute;
    color: var(--color-alpha);
    font-weight: 800;
    bottom: calc(100% + 0.5rem);
    letter-spacing: 0.2ch;
    transition: color 0.2s;
  }
  